<div class="app-content">
  <md-card class="top-story-card">
    <div class="top-story">
      <h2 class="l-headline">
        <a href="http://www.vox.com/policy-and-politics/2016/12/6/13823928/donald-trump-reality-transition-mitt-romney-apprentice" data-analytics-link="article">
          <span data-native-ad-id="headline" data-chorus-optimize-field="hed">Donald Trump is turning his transition into a reality show, too. That’s an ominous sign.</span>
        </a>
      </h2>
      <span class="m-hp-block__byline" data-native-ad-id="byline">
        By <a rel="author" href="http://www.vox.com/authors/todd-vanderwerff">Todd VanDerWerff</a>
      </span>

      <div class="m-hp-block__logo">
        <img data-native-ad-id="logo">
      </div>
    </div>
  </md-card>
</div>
